extends ../layout

block content
    h2 Usuários
    hr
    .col-sm-8.col-sm-offset-2
        p
            a.btn.btn-default(href='/signup', role='button')
                i.fa.fa-plus
                | Novo Usuário
        table.table.table-striped.table-bordered.table-condensed
            thead
                tr
                    th id
                    th Nome
                    th Papel
                    th Admin
                    th Ações
                tbody
                    each user in users
                        tr
                            td=user._id
                            td=user.profile.name
                            td=user.role
                            td=user.isadmin
                            td
                                a.btn.btn-default(href='/admin/edituser?userid=' + user._id)
                                    i.fa.fa-pencil
                                .btn.btn-danger(onclick='removeUser(' + "'" + user._id + "'" + ')')
                                    i.fa.fa-remove
    script.
        var getCSRFToken = function () {
          return $('meta[name="csrf-token"]').attr('content');
        };

        var routes = {
            removeRoute: '/admin/users',
            updateRoute: '/user'
        };

        var removeUser = function (id) {
            if ($ && id) {
                $.ajax({
                    type: "DELETE",
                    url: location.origin.concat(routes.removeRoute),
                    data: {
                        _csrf: getCSRFToken(),
                        userid: id
                    },
                  complete: function () {
                      location.reload();
                    }
                });
            } else {
                alert('Missing Jquery');
            }
        };

