extends ../layout

block content
  .page-header
    div.text-center
      h1 MederiSports
        p.lead.font-light Pronturario eletronico para seu clube.

  form.form-horizontal(method='POST').login-form
    h3.text-center Login
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Senha
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Senha', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | Login
        a.btn.btn-link(href='/forgot') Esqueceu a senha?
        //a.btn.btn-link(href='/signup') Cadastre-se
    .form-group
      .col-sm-offset-3.col-sm-7
        hr
    .form-group.hide
      .col-sm-offset-3.col-sm-7
        a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fa.fa-facebook
          | Login com Facebook
        a.btn.btn-block.btn-google.btn-social(href='/auth/google')
          i.fa.fa-google-plus
          | Login com Google