footer
  .container.text-center
    p.pull-left © 2018 BomDeBola Company, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='/about') Sobre
      li
        a(href='/contact') Contato
      li
        a(href='http://www.nathanreuterg.com/') Develop by Nathan Reuter