.navbar.navbar-default.navbar-fixed-top(class=(user) ? undefined : 'hide')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fas.fa-bowling-ball
        | MederiSports
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title === 'Home') ? 'active' : undefined)
          a(href='/') Home
        if user
          li.dropdown(class=(title === 'Atendimento') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span
                | Atendimento
              i.caret
            ul.dropdown-menu
              li
                a(href='/treatment/patients')
                  i.fab.fa-accessible-icon
                  | Pacientes
              li.divider
              li
                a(href='')
                  i.fas.fa-address-book
                  | Consultas


        if user && user.isadmin
          li.dropdown(class=(title === 'Admin') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span
                i.fas.fa-cog
                | Admin
              i.caret
            ul.dropdown-menu
              li
                a(href='/admin/users')
                  i.fas.fa-users
                  | Usuários
              li.divider
              li
                a(href='/status')
                  i.fas.fa-server
                  | Status Servidor
        li(class=(title === 'Contact') ? 'active' : undefined)
          a(href='/contact') Contato
      if user
        ul.nav.navbar-nav.navbar-right
            li.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                if user.profile.picture
                  img(src=user.profile.picture)
                else
                  img(src=user.gravatar(60))
                span= user.profile.name || user.email || user.id
                i.caret
              ul.dropdown-menu
                li
                  a(href='/account') My Account
                li.divider
                li
                  a(href='/logout') Logout
